@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sporting";
  font-weight: 400;
  src: url(../assets/fonts/SportingGrotesque-Regular.otf) format("otf");
}
@font-face {
  font-family: "Sporting";
  font-weight: 700;
  src: url(../assets/fonts/SportingGrotesque-Bold.otf) format("otf");
}

body {
  background-color: #e5e5e5;
}

.sporting {
  font-family: Sporting, sans-serif;
  font-weight: 400;
}
