@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SportingGrotesque";
  font-weight: 400;
  src: url(../assets/fonts/SportingGrotesque-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "SportingGrotesque";
  font-weight: 700;
  src: url(../assets/fonts/SportingGrotesque-Bold.woff2) format("woff2");
}

body {
  background-color: #e5e5e5;
}

.sporting {
  font-family: SportingGrotesque, sans-serif;
  font-weight: 400;
}

.sporting-bold {
  font-family: SportingGrotesque, sans-serif;
  font-weight: 700;
}
